* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    //border: 1px red solid;
    font-size: inherit;
}

html {
    font-size: 16px;
}

nav {
    position: fixed;
    top: 0;
    z-index: 5;
    height: 4.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    background-color: white;
}

.logo {
    padding: 2%;
}

nav a {
    grid-column-end: -1;
}

a {
    background-color: orange;
    border: solid 1px black;
    height: 3rem;
    border-radius: 10px;
    margin: 6% 10%;
    display: grid;
    align-items: center;
    justify-items: center;
}

main {
    position: relative;
    top: 4.5rem;
    display: grid;
    justify-content: center;
}

.item-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.banner {
    position: relative;
    display: grid;
    grid-template: repeat(3,1fr) / 80% 1fr;
    height: 300px;
}

.hero-box {
    background-image: url("../../Price.io-master/images/hero-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: 1 / -1 / 4 / 1;
    width: 100%;
}

.search-banner {
    grid-area: 3 / 1 / 4 / 2;
    border-radius: 5px;
    background-color: white;
    display: grid;
    grid-template:  
        ". banner ."1fr
        ". box ."
        / 10px 1fr 10px;

}

.search-banner h1 {
    color: blue;
    margin: 5%;
    font-size: 2rem;
    grid-area: banner;
}

.search-banner h6 {
    opacity: 0.5;
    font-size: 0.7rem;
}

.search-box {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: box;
    
}

.search-bar {
    min-width: 250px;
}

.search-box input {
    background-color: hsl(0 0% 90%);
    width: 100%;
    align-self: flex-start;
    border-radius: 3px;
}



.item-options {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 215px;
    height: 325px;
    overflow: hidden;
    display: grid;
    grid-template: 120px 1fr 1fr 1fr / 1fr 1fr;
    border-radius: 5px;
    border: solid 1px gray;
    margin: 5%;
}

.product-image {
    width: 100%;
    height: 100%;
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    align-content: center;
    justify-content: center;
}

.product-image img {
    width: 100%;
   
}

.best-price-sticker {
    grid-area: 1 / 2;
    z-index: 1;
    background-color: turquoise;
    align-self: start;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    height: 20px;
    width: 80px;
}

.best-price-sticker h2 {
    color: white;
}

.product-title {
    grid-area: 2 / 1 / 3 / 3;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
}

.price h3 {
    font-size: 0.8rem;
}

.current {
    padding-left: 1rem;
}

.current p {
    color: turquoise;
}

.highest {
    padding-right: 1rem;
    align-items: flex-end;
}

.highest p {
    color: gray;
}

.buy-button {
    grid-column: span 2;
}

.subscription-box {
    background-color: blue;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;
    justify-items: center;
}

.subscription-sell h2 {
    color: white;
    
}